{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <h1>Lista de pedidos </h1>

    <input type="search" class="light-table-filter" data-table="order-table" placeholder="Buscar">


    <table class="table order-table table">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Documento</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Fecha pedido</th>
                <th>Entrega estimada</th>
                <th>Importe</th>
                <th>Observacion</th>
                <th>Cliente</th>
                <th>Acciones</th>

            </tr>
        </thead>
        {#<tbody>#}
        {#{% if  {'%username%': app.user.username} == {{  pedido.user }} %}#}

        {% for pedido in pedidos %}
            <tr>
                {#<td><a href="{{ path('pedido_show', { 'id': pedido.id }) }}">{{ pedido.id }}</a></td>#}
                <td>{{  pedido.nombreyapellido }}</td>
                <td>{{  pedido.documento }}</td>
                <td>{{  pedido.modelo }}</td>
                <td>{{ pedido.color }}</td>
                <td>{% if pedido.createAt %}{{ pedido.createAt|date('d-m-Y') }}{% endif %}</td>
                <td>{% if pedido.fechaEntregaEstim %}{{ pedido.fechaEntregaEstim|date('d-m-Y') }}{% endif %}</td>
                <td>{{ pedido.importe }}</td>
                <td>{{ pedido.observacion }}</td>
                <td>{{  pedido.user }}</td>
                <td>
                    <ul>
                        {#<li>#}
                            <a href="{{ path('pedido_show', { 'id': pedido.id }) }}">Show</a>
                        {#</li>#}
                        {#<li>#}
                            <a href="{{ path('pedido_edit', { 'id': pedido.id }) }}">Edit</a>
                        {#</li>#}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('pedido_new') }}">Create a new pedido</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
